.cart {
  margin: 20px 20% 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 100px 30px 20px;
  /*padding-left: 5%;
  padding-top:20x;*/
}

.cart-items > li {
  max-width: 70%;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: solid 1px grey;
  padding-bottom: 15px;
  padding-top: 15px;
}

.small {
  max-width: 200px !important;
}

.coupon-container {
  padding-top: 20px;
}

.apply-textarea {
  height: 40px;
  width: 40%;
}

.action-button {
  border: 1px solid #212121;
  padding: 5px 10px;
  width: 40px;
}

.action-button i {
  margin: auto;
}

.action-button:hover {
  color: #e9e9e9;
  background: #212121;
}

.checkout-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  background-color: lightgrey;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cart-totals-total {
  font-weight: bold;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

