/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */

*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #212121;
}

a:visited {
  color: #212121;
}

h1,
h2 {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 38px;
  margin-bottom: 40px;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.button {
  border: 1px solid #212121;
  padding: 12px 40px;
}

.button:hover {
  color: #e9e9e9;
  background: #212121;
}

.button-white {
  border: 1px solid #e9e9e9;
  color: #e9e9e9 !important;
}

.button-white:hover {
  color: #212121 !important;
  background: #e9e9e9;
}

.section-description {
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

.button-container {
  margin: 80px 0;
}

header {
  background: #535353;
  color: #e9e9e9;
  padding: 40px 0;
}

header .top-nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

header .top-nav .logo {
  font-weight: bold;
  font-size: 28px;
}

header .top-nav ul {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  width: 40%;
}

header .top-nav ul a {
  color: #e9e9e9;
}

header .top-nav ul a:hover {
  color: #d0d0d0;
}

.shop-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 30px;
  margin-bottom: 100px;
}

.sidebar {
  margin: 0 20px;
  background: #535353;
  height: 100%;
  font-size: 15px;
  padding-left: 50px;
  padding-top: 50px;
}

.sidebar ul {
  width: 50%;
}

.sidebar ul a {
  color: #e9e9e9;
}

.sidebar ul a:hover {
  color: #d0d0d0;
}

.sidebar h2 {
  color: #e9e9e9;
  font-size: 18px;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.breadcrumbs {
  padding: 15px 15px;
  font-size: 15px;
}

.breadcrumbs .fa {
  color: #535353;
  font-size: 12px;
}

footer {
  background: #535353;
  color: #e9e9e9;
  padding: 40px 0;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
}

footer .footer-content ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

footer .footer-content ul a {
  color: #e9e9e9;
}

